{% extends 'base.html.twig' %}

{% block title %}Accueil | {% endblock %}

{% block body %}


    <section class="a-banner d-flex justify-content-center align-items-center flex-wrap" id="a-banner">
        <div class="container-fluid">
            <div class="banner-text">
                <h1 class="banner-main-title mb-4">Découvrez notre jardin zoologique</h1>
                <a href="#" class="btn btn-primary btn-lg px-5 py-3 poppins">
                    Découvrir le zoo <span class="material-icons text-white play-icon"> play_arrow </span>
                </a>
            </div>
        </div>
    </section>

    <section class="a-services bg-rich-black text-white py-5 d-flex justify-content-center align-items-center" id="a-services">
        <div class="container my-5">
            {% if services | length > 0 %}
                <h1 class="text-center fw-bold roboto-slab my-5">Nos Services</h1>
                <div class="row justify-content-center mb-5">
                    {% for service in services %}
                        <div class="col-md-4 col-sm-1">
                            <div class="service px-3 py-4">
                                <span class="material-icons"> {{ service.icon }} </span>
                                <h5 class="fw-medium poppins mb-3">{{ service.name }}</h5>
                                <p> {{ service.description | striptags | raw }} </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <h1 class="text-center fw-bold roboto-slab my-5">Revenez très prochainement</h1>
            {% endif %}
        </div>
    </section>

    <section class="a-habitats py-5 d-flex justify-content-center align-items-center" id="a-habitats">
        <div class="container my-5">
            {% if habitats | length != 0 %}
                <h1 class="text-center fw-bold roboto-slab my-5">Zoom Sur Le Zoo</h1>
                <div class="row justify-content-center mb-5">
                    {% for habitat in habitats %}
                        <div class="col-md-3 col-sm-1">
                            <div class="habitat py-4">
                                <div class="a-card">
                                    <div class="a-card-image">
                                        <img src="{{ vich_uploader_asset(habitat, 'imageFile') | imagine_filter('habitat_presentation') }}"
                                             alt="{{ habitat.name }}"/>
                                    </div>
                                    <div class="a-card-label text-white">
                                        <a href="{{ path('arcadia_single_habitat', {'slug': habitat.slug}) }}" class="d-flex justify-content-between
                                        align-items-center
                                        flex-wrap">
                                            <h3><span>Habitat des </span> {{ habitat.name }}</h3>
                                            <span class="material-icons text-white"> navigate_next </span>
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="row justify-content-center align-items-center">
                    <div class="col-md-3 col-sm-12 text-center">
                        <a href="#" class="btn btn-success btn-lg px-5 py-3 text-white fw-medium">
                            Voir les habitats
                            <span class="material-icons text-white play-icon"> play_arrow </span>
                        </a>
                    </div>
                </div>
            {% else %}
                <h1 class="text-center fw-bold roboto-slab my-5">Revenez bientot</h1>
            {% endif %}

        </div>
    </section>

    <section class="a-animals text-white bg-rich-black py-5 d-flex justify-content-center align-items-center" id="a-habitats">
        <div class="container my-5">

            {% if animals | length != 0 %}
                <h1 class="text-center fw-bold roboto-slab my-5">Les Animaux Du Zoo</h1>
                <div class="row justify-content-center mb-5">
                    {% for animal in animals %}
                        <div class="col-md-3 col-sm-1">
                            <div class="animal py-4">
                                <div class="a-card position-relative">
                                    <a href="{{ path('arcadia_animal_single', {'slug': animal.slug}) }}" class="text-decoration-none">
                                        <div class="a-card-image">
                                            <img src="{{ vich_uploader_asset(animal, 'imageFile') | imagine_filter('animal_presentation') }}" alt="{{ animal
                                            .firstname }}"/>
                                        </div>
                                        <div class="a-card-label text-white position-absolute">
                                            <h3>{{ animal.firstname }}</h3>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="row justify-content-center align-items-center">
                    <div class="col-md-3 col-sm-12 text-center">
                        <a href="#" class="btn btn-success btn-lg px-5 py-3 text-white fw-medium"
                        >Tous les animaux <span class="material-icons text-white play-icon"> play_arrow </span>
                        </a>
                    </div>
                </div>

            {% else %}
                <h1 class="text-center fw-bold roboto-slab my-5">Revenez bientot</h1>
            {% endif %}
        </div>
    </section>

    <section class="a-testimonials py-5" id="a-testimonials">
        <div class="container my-5">
            <h1 class="text-center fw-bold roboto-slab my-5">Ce qu'ils pensent du Zoo.</h1>
            <div class="owl-carousel owl-carousel1 owl-theme">
                {% for advice in advices %}
                    <div>
                        <div class="testimonial-card text-center mx-3 p-3">
                            <div class="card-body">
                                <h5>
                                    {{ advice.username }}
                                </h5>
                                <p class="card-text">
                                    {{ advice.comment | raw }}
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="a-rates py-5 bg-olive" id="a-rates">
        <div class="container my-5">
            <div class="row">
                <div class="col-md-6 col-sm-12 d-flex align-items-center">
                    <h1 class="kaushan-script-regular release-rate">Que pensez-vous de notre zoo?</h1>
                </div>
                <div class="col-md-6 col-sm-12">
                    {{ form_start(adviceForm) }}
                    <div class="mb-3">
                        {{ form_row(adviceForm.username) }}
                    </div>
                    <div class="mb-3">
                        {{ form_row(adviceForm.comment) }}
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-dark btn-lg px-5 py-3 fw-bold">Poster un avis</button>
                    </div>
                    {{ form_end(adviceForm) }}

                </div>
            </div>
        </div>
    </section>
{% endblock %}
