{% extends 'base.html.twig' %}

{% block title %}Nos Animaux{% endblock %}

{% block body %}
    <section class="a-banner a-habits d-flex justify-content-center align-items-center flex-wrap" id="a-banner">
        <div class="container-fluid">
            <div class="banner-text">
                <h1 class="banner-main-title mb-4">Nos Animaux</h1>
            </div>
        </div>
    </section>

    <section class="a-animals py-5 d-flex justify-content-center align-items-center" id="a-animals">
        <div class="container my-5">
            {% if animals | length != 0 %}
                <div class="row justify-content-center mb-5">
                    {% for animal in animals %}
                        <div class="col-md-3 col-sm-1">
                            <div class="animal py-4">
                                <div class="a-card position-relative">
                                    <a href="{{ path('arcadia_animal_single', {'slug': animal.slug}) }}" class="text-decoration-none">
                                        <div class="a-card-image">
                                            <img src="{{ vich_uploader_asset(animal, 'imageFile') | imagine_filter('animal_presentation') }}" alt="{{ animal
                                            .firstname }}"/>
                                        </div>
                                        <div class="a-card-label text-white position-absolute">
                                            <h3>{{ animal.firstname }}</h3>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="row justify-content-center align-items-center">
                    {{ knp_pagination_render(animals) }}
                </div>
            {% endif %}

        </div>
    </section>
{% endblock %}
